<h1>top</h1>
  <% if user_signed_in? %>
    <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
    <p><%= link_to "ユーザーず", users_path %></p>
  <% elsif admin_user_signed_in? %>
    <p><%= link_to "メーカー作成", maker_genres_path %></p>
    <p><%= link_to "パーツ名作成", parts_genres_path %></p>
    <p><%= link_to "ログアウト", destroy_admin_user_session_path, method: :delete %></p>
  <% else %>
    <p><%= link_to "新規登録", new_user_registration_path %></p>
    <p><%= link_to "ログイン", new_user_session_path %></p>
    <p><%= link_to "アドミンログイン", new_admin_user_session_path %></p>
  <% end %>

