<div class="admin-mgenre">

  <h2>MakerGenre</h2>

  <div class="genre_form">
    <%= form_with model: @maker, url: '/admin/maker_genres', local:true do |f| %>
      <%= f.text_field :mname, placeholder: "メーカー名作成" %>
      <%= f.submit "登録" %>
    <% end %>
  </div>

  <div class="admin-mgenres">

    <% @makers.each do |maker_genre| %>

      <div class="admin-mgenre-box">

        <div class="admin-mgenre-name">
          <%= maker_genre.mname %>
        </div>

        <div class="admin-mgenre-edit">
          <%= link_to "編集", edit_admin_maker_genre_path(maker_genre.id) %>
        </div>

      </div>

    <% end %>

  </div>

</div>

