<%= render partial: 'layouts/sidebar' %>

<div class="show-pgenre">

  <h2><%= @pgenre.pname %></h2>

  <% unless @pgenres.present? %>
    <p>投稿がありません</p>
  <% else %>

    <% @pgenres.each do |carpost| %>

      <div class="show-parts-genres">

        <div class="show-parts-genres-time">
          <%= carpost.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
        </div>

        <div class="show-parts-genres-text">
          <div class="show-pname">
            <%= link_to carpost.user.car_name, car_post_path(carpost.id) %>. <%= link_to carpost.user.maker_genre.mname, car_post_path(carpost.id) %>
          </div>
          <div class="show-title">
            Title: <span><%= link_to carpost.title, car_post_path(carpost.id) %></span>
          </div>
        </div>
        <div class="slider">
          <% carpost.car_images.each do |carimages| %>
            <%= link_to car_post_path(carpost.id) do %>
          　　<%= image_tag carimages.url, class: "home-car-image" %>
          　<% end %>
          <% end %>
        </div>

      </div>

    <% end %>
  <% end %>
</div>

<script>
window.onload = function () {
  $(function() {
    $('.slider').slick({
      speed: 1000,

      prevArrow: '<button class="slide-arrow prev-arrow"></button>',
      nextArrow: '<button class="slide-arrow next-arrow"></button>'
    });
  });

  $('input').on('change', function () {
      var file = $(this).prop('files')[0];
      $('p').text(file.name);
  });
};

</script>