<div class="admin-show-user">

  <div class="admin-show-user-content">

    <div class="admin-show-user-box">

      <div class="admin-show-user-status">

        <table>
          <tr>
            <th>ユーザー名</td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>メーカー</td>
            <td><%= @user.maker_genre.mname %></td>
          </tr>
          <tr>
            <th>車名</td>
            <td><%= @user.car_name %></td>
          </tr>
          <tr>
            <th>Eメール</td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th>ステータス</th>
            <td>
              <% if @user.is_deleted == false %>
                <%= link_to withdrawl_true_path, method: :patch, "data-confirm" => "アカウントを停止しますか？" do %>
                  <div class="is_deleted-false">起動中</div>
                <% end %>
              <% else %>
                <%= link_to withdrawl_false_path, method: :patch, "data-confirm" => "アカウントを再開しますか？" do %>
                    <div class="is_deleted-true">停止中</div>
                <% end %>
              <% end %>

            </td>
          </tr>
        </table>

        <div class="admin-show-user-edit">
          <div class="admin-show-user-edit-btn"><%= link_to "ユーザー編集", edit_admin_user_path(@user.id) %></div>
          <div class="admin-show-user-delete-btn"><%= link_to "ユーザー削除", admin_user_path(@user.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></div>
        </div>

      </div>

      <div class="admin-show-user-image">
        <% if @user.plofile_image.attached? %>
          <%= link_to @user.plofile_image do %>
            <%= image_tag @user.plofile_image, class: "admin-plofile-image" %>
          <% end %>
        <% else %>
            <%= image_tag asset_path("no_image.jpg"), class: "admin-plofile-image" %>
        <% end %>
      </div>

    </div>

    <div class="admin-show-user-count">
      <div class="admin-show-user-count-area">フォロー. <%= @user.followings.count %></div>
      <div class="admin-show-user-count-area">フォロワー. <%= @user.followers.count %></div>
      <div class="admin-show-user-count-area">CarPosts. <%= @user.car_posts.count %></div>
    </div>

  </div>

  <div class="admin-show-user-carposts">
    <h2>投稿一覧</h2>
  </div>

  <%  unless @carposts.present? %>
    <p>投稿がありません</p>
  <% else %>

  <% @carposts.each do |carpost| %>
    <div class="admin-show-user-carpost">

      <div class="admin-show-user-carpost-time">
        <%= carpost.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
      </div>

      <div class="slider">
        <% carpost.car_images.each do |carimages| %>
          <%= link_to car_post_path(carpost.id) do %>
             <%= image_tag carimages.to_s, class: "car-image" %>
          <% end %>
        <% end %>
      </div>

      <div class="admin-show-user-carpost-text">

        <div class="admin-show-user-genre">
          ジャンル:<%= carpost.parts_genre.pname %>
        </div>

        <div class="admin-show-user-btn">
          <div class="admin-show-user-good">
            <i class="fa-solid fa-heart"></i>いいね！<%= Good.where(car_post_id: carpost.id).count %>
          </div>
          <div class="admin-show-user-comment-count">
            <i class="fa-regular fa-comment-dots"></i>コメント<%= Comment.where(car_post_id: carpost.id).count %>
          </div>
        </div>

        <div class="admin-show-user-title">
          <%= carpost.title %>
        </div>

      </div>

    </div>
  <% end %>
  <% end %>

  <div class="page">
    <%= paginate @carposts %>
  </div>

</div>

<script>
window.onload = function () {
  $(function() {
    $('.slider').slick({
      speed: 1000,

      prevArrow: '<button class="slide-arrow prev-arrow"></button>',
      nextArrow: '<button class="slide-arrow next-arrow"></button>'
    });
  });

  $('input').on('change', function () {
      var file = $(this).prop('files')[0];
      $('p').text(file.name);
  });
};

</script>