<%= render partial: 'layouts/sidebar' %>

<div class="show-mgenre">

  <h2><%= @mgenre.mname %></h2>

  <% unless @mgenres.present? %>
    <p>ユーザーがいません</p>
  <% else %>

    <% @mgenres.each do |user| %>

      <div class="show-maker-genres">

        <div class="show-maker-genres-user">

          <% if user.plofile_image.attached? %>

            <% if user.is_deleted == false %>
              <%= link_to user_path(user.id) do %>
                <%= image_tag user.plofile_image, class: "plofile-image" %>
              <% end %>
            <% else %>
              <%= link_to user_path(user.id) do %>
                <%= image_tag asset_path("no_image.jpg"), class: "plofile-image" %>
              <% end %>
            <% end %>

          <% else %>
            <%= link_to user_path(user.id) do %>
              <%= image_tag asset_path("no_image.jpg"), class: "plofile-image" %>
            <% end %>
          <% end %>

          <div class="show-maker-genres-right">
            <% if user.is_deleted == false %>
            <div class="show-maker-genres-name"><%= link_to user.name, user_path(user.id)  %></div>
            <% else %>
            <div class="user-name"><%=link_to "退会済ユーザー", user_path(user.id) %></div>
            <% end %>
            <div class="show-maker-genres-car"><%= link_to user.maker_genre.mname, user_path(user.id) %>. <%= link_to user.car_name, user_path(user.id) %></div>
          </div>

          <% if user.is_deleted == false %>
            <% if user.id == current_user.id %>
            <% else %>
              <div class="show-mgenre-follow">
                <div id = "follow_<%= user.id %>">
                  <%= render 'user/relationships/follow', user: user %>
                </div>
              </div>
            <% end %>
          <% else %>
          <% end %>

        </div>

      </div>

    <% end %>
  <% end %>
</div>